<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">CLC Housing App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="ion-text-center">CLC Housing App</h2>

  <div class="button-container">
    <!-- Register Button -->
    <ion-button class="custom-width" color="primary" (click)="navigateToRegister()">
      Register
    </ion-button>

    <!-- Login Button -->
    <ion-button class="custom-width" color="secondary" (click)="navigateToLogin()">
      Login
    </ion-button>
  </div>
</ion-content>


